footer {
  margin-bottom: 50px;
}

.App h1 {
  opacity: 0.6;
}

.App {
  text-align: center;
}

.App .container {
  max-width: 600px;
  padding: 100px;
}

.App .github-icon {
  color: black;
  opacity: 0.6;
}
