:root {
  --main-color: #702283;
  --secondary-color: #962071;

  --main-font-family: "M PLUS 1p", sans-serif;
  --font-family-headlines: "Noto Serif", serif;
}

.App footer {
  margin: 70px 0;
  text-align: center;
}

.App .container {
  max-width: 1200px;
  padding: 100px;
}

.App .github-icon {
  color: var(--main-color);
  font-size: 24px;
  opacity: 0.8;
}

.App .github-icon:hover {
  color: var(--secondary-color);
}

@media (max-width: 576px) {
  .App .container {
    padding: 50px;
  }
}
