:root {
  --main-color: #702283;
  --secondary-color: #962071;
}

.App footer {
  margin-bottom: 50px;
  text-align: center;
}

.App .container {
  max-width: 1200px;
  padding: 100px;
}

.App .github-icon {
  color: black;
  opacity: 0.6;
}
