.Dictionary form {
  margin: 30px;
}

.Dictionary input {
  border: 1px solid var(--main-color);
  border-radius: 8px;
  display: block;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 60%;
}

.Dictionary .search-button {
  color: var(--main-color);
  font-size: 30px;
  opacity: 0.8;
  position: relative;
  top: 44px;
  right: 210px;
}

.Dictionary .search-button:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .Dictionary input {
    font-size: 15px;
    width: 120%;
  }

  .Dictionary .search-button {
    display: none;
  }
}
