.Dictionary form {
  margin: 30px;
}

.Dictionary input {
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 24px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 60%;
}

.Dictionary .search-button {
  color: var(--main-color);
  font-size: 30px;
  opacity: 0.7;
  position: relative;
  top: 44px;
  right: 210px;
}

.Dictionary .search-button:hover {
  cursor: pointer;
}


