form {
  margin: 30px;
}

.Dictionary input {
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  font-size: 24px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.search-button {
  font-size: 30px;
  opacity: 0.6;
  position: relative;
  top: 44px;
  right: 40px;
}

.search-button:hover {
  cursor: pointer;
}

.Meaning h3 {
  font-size: 22px;
  opacity: 0.6;
}
