.Meaning {
  font-family: "M PLUS 1p", sans-serif;
}

.Meaning h2 {
  color: var(--main-color);
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 0;
}

.Meaning p {
  margin: 5px;
}

.Meaning .definition {
  margin: 25px 0;
}

.Meaning .example {
  color: var(--main-color);
}

.Meaning .indent {
 text-indent: -1em;
}
