.Meaning {
  font-family: "M PLUS 1p", sans-serif;
}

.Meaning h3 {
  color: var(--main-color);
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 0;
}

.Meaning .definition {
  margin: 25px 0;
}

.Meaning .example {
  color: var(--main-color);
}

.inner-container {
}
