.Results {
  font-family: var(--main-font-family);
}

.Results h1 {
  color: var(--main-color);
  font-family: var(--font-family-headlines);
  font-size: 56px;
  margin-bottom: 30px;
}

.Results .pre-headline {
  font-size: 14px;
}
