.Synonyms {
  font-family: var(--main-font-family);
}

.Synonyms li {
  color: var(--secondary-color);
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

ul {
  margin: 5px;
  padding: 0px;
}
